html {
    font-size: 62.5%;
    background-color: none;
}

body {
    font-size: 1.6rem
}

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

header {
    font-family: 'Bebas-Neue', sans-serif;
    font-size: 10.5rem;
    font-style: normal;
    font-weight:400;
    letter-spacing: normal;
    text-transform: none;
    margin-top: 50px;
    color: #303339;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    display: flex;
    
    justify-content: center;
    color: #303339;
}

ul {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.7rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;

}

hr {
    border-style:solid;
    
}

.text-center {
    text-align: center;
}

.text-align { text-align: center;}

#hero-image {
    background: url('../images/pod-house.png') no-repeat center left;
    height: 400px;
    min-height: 50%;
    width: 100%;
    background-size: cover;
}

.sub-heading { font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 1rem;
                font-weight: 400;
                display: flex;
                justify-content: center;

}

.info-block{
    max-height: 80rem;
    font-size: 20px;
    font-weight: 600;
    padding: 8rem;
    border-width: 1.5 rem;
    margin: 15rem;
    border-style: solid;
    font-family: 'Inter', sans-serif;
    word-spacing: 0.4rem;
    line-height: 4rem;
}

.gallery {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 18rem;
    clear: both;
    line-height: 0;
    display: grid;
    column-count: 5;
    column-gap: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
}

.resize {
    width: 35rem;
    height: 56.2rem;
}

#kls {
    width: 100rem;
    height: auto;
}